* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffa500;
  margin-top: 10px;
}

.hero-3 .footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 10px 20px;
}

.footer .kelompok {
  display: flex;
  flex-direction: column;
  gap: 10px 5px;
}

.footer .kelompok .footer-title {
  font-size: 14px;
  font-weight: 600;
  color: #ffff;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.footer .kelompok .footer-content {
  color: #ffff;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer .kelompok .logo-medsos {
  display: flex;
  gap: 5px;
  /* justify-content: center; */
  align-items: center;
}

.footer .logo-medsos a {
  text-decoration: none;
  color: #ffff;
}

.logo-medsos iconify-icon {
  color: #ffff;
  font-size: 20px;
}

@media screen and (min-width: 650px) {
  .hero-3 {
    margin-top: 10px;
  }

  .hero-3 .footer {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer .kelompok {
    gap: 10px 10px;
    display: flex;
    align-items: center;
  }

  .kelompok.copyright {
    grid-column: 1/4;
  }

  .footer .kelompok .footer-title {
    font-size: 18px;
  }

  .footer .kelompok .footer-content {
    font-size: 16px;
  }

  .logo-medsos iconify-icon {
    font-size: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-3 .footer {
    width: 95%;
  }

  .hero-3 .footer {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer .kelompok {
    gap: 10px 20px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }

  .footer .kelompok .footer-title {
    font-size: 1em;
  }

  .footer .kelompok .footer-content {
    font-size: 16px;
    font-weight: 400;
    flex-direction: row;
  }

  .logo-medsos iconify-icon {
    font-size: 25px;
  }

  .footer-title.copyright {
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
