* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f3f7;
}

.hero-1 {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4em 0em 2em 0em;
}

.hero-1 .hero-1-content {
  position: relative;
  width: 90%;
  height: 200px;
  margin-top: 3em;
  overflow: hidden; /* Menghindari gambar overflow */
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.content-hero-1 {
  position: relative;
  z-index: 1; /* Agar konten berada di atas slider */
  width: 70%;
  color: #fff;
}

.content-hero-1 .text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

.text-content span {
  color: #ffa500;
}

.button-content {
  margin-top: 10px;
}

.button-content a {
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  background-color: #ffa500;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 800px) {
  .hero-1 {
    padding: 6em 0em 2em 0em;
    height: 100vh;
  }

  .hero-1 .hero-1-content {
    height: 650px;
  }

  .content-hero-1 {
    width: 50%;
  }

  .content-hero-1 .text-content {
    font-size: 1.5em;
  }

  .button-content {
    margin-top: 40px;
  }

  .button-content a {
    font-size: 1.5em;
    padding: 10px;
  }
}
